<header class="primary-header container">
  <a href="/"><img src="/img/EatEasy.svg" class="logo" alt="EatEasy Logo" /></a>
  <nav class="primary-navigation">
    <ul role="list" class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="#">Popular</a></li>
      <li><a href="/menu">Menu</a></li>
    </ul>
  </nav>
  <div class="icons">
    <a href="#"><i class="fa-solid fa-magnifying-glass icon-hover icon"></i></a>
    <% if(user){ %>
    <div class="profile__icon">
      <span id="profile" class="profile"
        ><i class="fa-solid fa-user icon icon-hover"></i
      ></span>
      <div class="profile__menu">
        <ul role="list" class="menu__list">
          <li><a href="#"><%= user.name %></a></li>
          <li><a href="/user/logout">Logout</a></li>
        </ul>
      </div>
    </div>
    <a href="#" class="cart"
      ><i class="fa-solid fa-cart-shopping icon-hover icon"></i>
      <% if(cart) {%>
      <span class="cart__count"> <%= cart.items.length %> </span>
      <% }else{ %>
      <span class="cart__count">0</span>
      <% } %></a
    >
    <% } else{%>
    <a href="/user/login" class="icon icon-hover login">Login</a>
    <% } %>
  </div>
</header>
<main>
  <section class="cart__section container">
    <% if(cart){ %>
    <h2 class="section__title">Cart</h2>
    <div class="cart__flex">
        <% var totalPrice=0 %>
        <% cart.items.forEach((cartList)=>{ %> 
          <% const index = items.findIndex((item) => { %>
            <% return item.itemId == cartList.itemId; }); %>
          <div class="cart__item">
            <p class="item__name"><%= items[index].name %></p>
            <p class="item__price"><%= items[index].price%></p>
          </div>
          <% totalPrice+=items[index].price %>
        <% }) %>
        <div class="total">
          <p class="total__title">Total</p>
          <p class="cart__total"><%= totalPrice %></p>
      </div>
    <% } else{ %>
      <div class="alt">
        <h2 class="section__title">Your Cart is Empty</h2>
        <a href="/menu" class="btn empty__cta">See Menu</a>
      </div>
      
    <% } %>

    </div>
  </section>
</main>


<!-- Scrips -->
<script src="/js/index.js"></script>
